* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    
    /*delete me before production*/
    /*border: 1px solid red;*/
}

html {
    background: #883F6A;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
}
body{
    font-size: 20px;
    background: #883F6A;
    background-size: 75%;
    
}

header{
    text-align: center;
    font-family: 'Raleway', serif;
    color: #CDC27F;
    text-shadow: 1px 0px 18px rgba(150, 150, 149, 1);
    font-size: 5rem;
    
}

main{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
    height: auto;
}

.rate {
    font-family: 'Raleway', serif;
    font-size: 3rem;
    color: #CDC27F;
    text-shadow: 1px 0px 18px rgba(150, 150, 149, 1);
    background-image: url("yellow2.png");
    border-radius: 0.5rem;
    padding: 2rem;
    margin-bottom: 3rem;
    margin-top: 1rem;
    margin-right: 5.5px;
    margin-left: 5.5px;
    display: inline-block;
    height: auto;
    vertical-align: top;
}

.recipe {
    text-align: center;
    background: #537183;
    border-right:1px solid #e5e5e5;
    position:fixed;
    top:30%;
    height:160px;
    left:0;
    width:60px;
    /*overflow:hidden;*/
    -webkit-transition:width .05s linear;
    transition:width .05s linear;
    -webkit-transform:translateZ(0) scale(1,1);
    z-index:1000;
    
}

.recipe h2 {
    transform: rotate(270deg);
    transform-origin: left top 0;
    font-family: 'Raleway', serif;
    color: #CDC27F;
    margin-left: 0;
    margin-top: 124px;
    padding: 10px;
    padding-bottom: 5px;
    float: left;
    display: block;
    overflow-y: auto;
}

.recipe-output{
    height:160px;
    overflow-y: auto;
}

.recipe:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;

}

.rate {
    text-align: center;
    
}

input, button {
    background-color: beige;
    font-family: 'Raleway', serif;
    border-radius: 2.5rem;
    text-align: center;
    width: 45%;
    font-size: 20px;
    height: 50px;
    cursor: pointer;
    
}

button {
    width: 20%;
}

/*button:hover {background-color: #AB9E4F}*/

button:active {
  /*background-color: #CDC27F;*/
  /*box-shadow: 0 5px #666;*/
  transform: translateY(4px);
}


h6 {
    font-family: 'Ubuntu', sans-serif;
    font-size: small;
}

.rate-output ul {
    font-size: medium;
    text-align: center;
    font-weight: bold;
    list-style: none;
    width: 95%;
    margin: 50px auto;
    
}
.rate-output li {
    display: inline-block;
    width: 32%;
    padding-bottom: 1rem;
    border-bottom: 2px solid gray;
    margin-bottom: 1rem;
}
.image-wrapper {
    width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 5px;
    text-align: center;
    background-color: transparent;
}
.image-wrapper img {
    width: 90%;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 5px 5px 3px #888888;
}
.text-wrapper {
    width: 90%;
    display: block;
    vertical-align: top;
    font-weight: bold;
    height: 200px;
    overflow-x: auto;
    
}
.text-wrapper h2 {
    font-size: 1.3rem;
    color: #D9BCCD;
}
.text-wrapper p  .recipe-score {
    padding-right: 5px;
    font-size: 0.9rem;
    color: #D6DDE0;
    padding-bottom: 30px;
}

.recipe-publisher {
    padding-bottom: 30px;
}

.recipe-description{
    font-style: italic;
}

h3 {
    padding: 10px;
    font-size: 0.9rem;
    font-family: 'Raleway', sans-serif;
    overflow-x: auto;
    color: #D9BCCD;
    
}

.delete-recipe-name {
    margin: 1rem;
}

.descript { 
    margin: 20px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: large;
}